* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #87CEEB;
    overflow: hidden;
    position: relative;
}

canvas {
    background-color: #f1f1f1;
    display: block;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

button {
    position: fixed !important;
    z-index: 1000;
    transform-origin: center;
}

#next {
    left: 50% !important;
    top: auto !important;
    bottom: 50px !important;
    transform: translateX(-50%) !important;
}

#restart {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

@media screen and (max-width: 768px) {
    canvas {
        max-width: 95vw;
        max-height: 95vh;
    }
    
    button {
        font-size: 16px !important;
    }
}

@media screen and (max-height: 320px) {
    canvas {
        max-height: 90vh;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    canvas {
        max-height: 85vh;
    }
}
